@model IEnumerable<lr6.Models.Cargos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Full_name_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo_weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shiping_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival_point)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Full_name_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo_weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shiping_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure_point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival_point)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
